# CORE WEB FRAMEWORK
streamlit

# DATA SCIENCE & VISUALIZATION
numpy
pandas
plotly
matplotlib

# COMPUTER VISION
opencv-python-headless

# AUDIO & PDF GENERATION
gTTS
fpdf

# AUTOMATION (For the Wake-Up Script)
selenium